.admin-header {
  padding: 0;
  z-index: 2;
  position: relative;
  background: #001529;
  .head-menu {
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    box-shadow: border-box;
  }
  &.dark {
    background: white;
    color: white;
  }
  &.night {
    .head-menu {
      background: white;
    }
  }
  .admin-header-wide {
    padding-left: 24px;
    display: flex;
    height: 60px;
    justify-content: space-between;
    &.head.fixed {
      max-width: 1400px;
      margin: auto;
      padding-left: 0;
    }
    &.side {
      padding-right: 12px;
    }
    .logo {
      height: 60px;
      line-height: 58px;
      vertical-align: top;
      display: inline-block;
      padding: 0 12px 0 24px;
      cursor: pointer;
      font-size: 20px;
      color: inherit;
      &.pc {
        padding: 0 12px 0 0;
      }
      img {
        vertical-align: middle;
      }
      h1 {
        color: white;
        display: inline-block;
        font-size: 16px;
      }
    }
    .trigger {
      font-size: 20px;
      line-height: 60px;
      padding: 0 24px;
      cursor: pointer;
      transition: color 0.3s;
      &:hover {
        color: @primary-color;
      }
    }
    .admin-header-menu {
      display: inline-block;
    }
    .admin-header-right {
      //float: right;
      display: flex;
      color: white;
      justify-content: right;
      .header-item {
        color: white;
        display: inline-block;
        //padding: 0 50px;
        //margin-right: 50px;
        cursor: pointer;
        height: 60px;
        align-self: center;
        a {
          color: white;
          i {
            font-size: 26px;
          }
        }

        .header-item-post {
          width: 80px;
          height: 20px;
          line-height: 18px;
          text-align: center;
          border-radius: 10px;
          font-size: 10px;
          margin: 5px 0;
          color: #1569ac;
          border: 1px solid #1569ac;
        }
      }

      // 姓名
      .header-item-name {
        width: 70px;
        display: inline-block;
        height: 60px;
        line-height: 60px;
        text-align: center;
        margin: 0 5px;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        float: left;
      }

      // 头像
      .header-item-img {
        width: 30px;
        height: 30px;
        display: inline-block;
        background-color: #ffffff;
        border-radius: 50%;
        border: 1px solid #999090;
        float: left;
      }

      // each(@theme-list, {
      //   &.@{value} .header-item{
      //     &:hover{
      //      @class: ~ hover-bg-color-@{value} ;
      //      background-color: @@class;
      //     }
      //   }
      // });
    }
  }
}
